*{
    margin:0;
    padding: 0;
}

body{
    background:  no-repeat center top fixed;

        position: relative;
     background-size: cover;
    background-color: #D6FAF5;
    color: white;
    font-family: 'Lato', sans-serif;
    height: 100%;
}

.container{
    max-width: 920px;
    width: 70%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin:0 auto;
    position: relative;
    text-align: center;
    
}

.weather{
    text-align: center;
}

#cityHeader{
    margin-top: 40px;
    opacity: 1;
    color:white
}

#weatherContainer{
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 5px black;
    padding: 20px;
    border-radius: 10px;
    position:absolute;
    visibility: hidden;
    text-align: center;
    top: 25%;
    margin-top:25%;
    margin-left: 35%;
}


#weatherContainer h1{
    margin: 5px;
    font-size: 42px;
    letter-spacing: 0.1em;
}

#searchContainer{
   margin-top: 50px;
}

#searchContainer input{
    width: 350px;
    height: 30px;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
}


#searchContainer button{
    background-color:grey;
    width: 75px;
    height: 38px;
    font-family: 'Lato', sans-serif;
    margin-top: 15px;
    color: white;
    font-size: 18px;
    margin-left: 10px;
    
}

#searchContainer button:hover{
    
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.searchControl{
    box-shadow: 2px 2px 5px black;
    border: none;
    border-radius:5px ;
    padding: 5px;
}

#weatherMain{
    display: block;
    margin-bottom: 20px;
}

#weatherMain div{
    display: inline-block;
}

#weatherDescriptionHeader{
    font-size: 28px;
    vertical-align: 25%;
}

#temperature{
    font-size: 35px;
    vertical-align: 25%;
}

.bottomDetails{
    display: block;
    font-size: 24px;
    text-align: center;
}

hr{
    margin-bottom: 20px;
}

.header{
    position: static;
    height: 100px;
    opacity: 0.8;
    background-color: black;
    width: 100%;
    /* text-align: center;
    justify-content: center; */
    display: inline-block;
    vertical-align: middle;
    
   

}

.logo{
    width: 80px;
    height: 80px;
    float: left;
    margin: 10px;  
}

.contacts{
    float: right;
    margin:35px 0;
    
}


li{
    display: inline;
    padding: 10px;
    margin: 5px;
    list-style: none;
}
ul img{
    width: 30px;
    height: 30px;
}


ul img:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}


.daysWeather{
   
        background-color: rgba(0, 0, 0, 0.25);
        box-shadow: 1px 1px 5px black;
        padding: 20px;
        border-radius: 10px;
        position:absolute;
      
        text-align: center;
        top: 25%;
        margin-top:600px;
        margin-left: 35%;

    
}